<?xml version="1.0"?>
<model>
    <name>4x4_robot</name>
    <version>1.0</version>
    <sdf version='1.7'>ddr.sdf</sdf>
    
    <author>
        <name>Charles Stainer</name>
        <email>cstainer@gmu.edu</email>
    </author>
    
    <description>
        A four wheel drive robot.
    </description>
</model>